#root {
  margin: 0 auto;
}

.pageBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  gap: 10px;
}

.splat {flex: 1;
  flex: 1;
  height: 100vh;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}